@import '~/src/styles/variables';

.deviceImagesList {
  display: flex;
  align-items: center;
  width: 100%;
  // 1.25rem to take into account height of native browser scrollbar.
  height: calc(#{$image-height-medium} + 1.25rem);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  &__image {
    scroll-snap-align: center;
  }
}
