@import '~/src/styles/variables';

.button {
  cursor: pointer;
  height: $inputs-height;
  margin: $inputs-spacing;
  background-color: $white;
  border: 0.0625rem solid $grey;
  border-radius: 0.25rem;
  font-size: $inputs-font-size;
}
