@import '~/src/styles/variables';

.deviceImage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  &_small {
    width: $image-width-small;
    height: $image-height-small;
  }

  &_medium {
    width: $image-width-medium;
    height: $image-height-medium;
  }

  &__image {
    object-fit: fill;
  }

  &__caption {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
  }
}
