$white: #fff;
$grey: #999;
$grey-opaque: rgba(100, 100, 100, 0.5);
$black: #111;
// width 982 height 726
$image-width-small: 327px;
$image-height-small: 242px;
$image-width-medium: 654px;
$image-height-medium: 484px;

$inputs-height: 1.5rem;
$inputs-spacing: 0.5rem;
