@import '~/src/styles/variables';

.modal {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 1rem;

  &__content {
    padding: 0 1.5rem 1.5rem;
  }

  &__close {
    align-self: flex-end;
  }
}
