@import '~/src/styles/variables';

.modal {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 1rem;
  padding: 1.5rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: bold;
    font-size: 1.25rem;
  }

  &__close {
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }
}
