@import '~/src/styles/variables';

.deviceDetails {
  width: calc(#{$image-width-medium} + 2rem);

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__info {
    margin: 0.25rem 0;
  }
}
